<mat-toolbar color="primary">
  <span>
    <a routerLink="/">MyMessages</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <!--<li>

      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>-->
    <li>
      <a mat-button routerLink="/create" routerLinkActive="active">New Post</a>
    </li>
    <li>
      <a mat-button routerLink="/login" routerLinkActive="active">Login</a>
    </li>
    <li>
      <a mat-button routerLink="/signup" routerLinkActive="active">Signup</a>
    </li>

  </ul>
</mat-toolbar>
